
<div class="row">
  <div class="container-fluid">
    <div class="col-4  mx-auto text-center" style="margin: 10% 0">      
      <form action="/addReview" method="POST">
        <label>Title</label><br />
        <input name="title" type="text" class="form-control" placeholder="Title" /><br  />
        <label>Review</label><br />
        <textarea name="review" type="text" placeholder="Place review here..."rows="8" cols="75"></textarea><br />
        <input type='radio' name='stars' value='5'> 5 </input>
        <input type='radio' name='stars' value='4'> 4 </input>
        <input type='radio' name='stars' value='3'> 3 </input>
        <input type='radio' name='stars' value='2'> 2 </input>
        <input type='radio' name='stars' value='1'> 1 </input>
        <input type="hidden" name="id" value="{{id}}"></input><br/>
        <button type="submit" value="submit">Submit Review</button>
      </form>
    </div>
  </div>
</div>
  
{{#if name}}
<div class="row">
  <div class="col-4 mx-auto text-center">
    Hello, {{name}}!
  </div>
</div>
{{/if}}
