

<div class="row">
  <div class="container-fluid">
    <div class="col-4  mx-auto text-center" style="margin: 10% 0">
      <form action="/search" method="GET">
        <div class="form-group"> 
            <label ><b>Find a restaurant</b></label>
            <input name="searchTerm" type="text" class="form-control" placeholder="Burger" />
          <button type="submit" style="margin: 25px" value="submit">Submit</button>
        </div> 
      </form>
      <br />
      <form action="/restaurant/new" method="GET">
        <div class="form-group">
            <label ></label>

          <button type="submit" value="submit">Add a Restaurant</button>
        </div>  
      </form>
      {{#if name}}
        <form action="/logout" method="post">
          <div class="form-group">
            <label ></label>

            <button type="submit" value="submit">Logout</button>
          </div>
        </form>
      {{else}}
        <form action="/newUser" method="get">
          <div class="form-group">
            <label ></label>

            <button type="submit" value="submit">Create Account</button>
          </div>
        </form>
        <form action="/login" method="get">
          <div class="form-group">
            <label ></label>

            <button type="submit" value="submit">Login</button>
          </div>
        </form>
    </div>
   
  </div>
</div>
{{/if}}
{{#if name}}
  <div class="row">
    <div class="col-4 mx-auto text-center">
      Hello, {{name}}!
    </div>
  </div>  
{{/if}}
