<div class="row">
  <div class="container-fluid">
    <div class="col-4  mx-auto text-center" style="margin: 10% 0">
      <form action="/newUser" method="POST">
        <label>Username:  </label>
        <input name="userName" type="text" class="form-control" placeholder="Username" /><br  />
        <label>Password </label>
        <input name="password" type="password" class="form-control" placeholder="password" /><br  />
        <label>First Name </label>
        <input name="name" type="text" class="form-control" placeholder="Name" /><br  />
        <button type="submit">Create Account</button>
      </form>
    </div> 
  </div>
</div> 
{{#if err}}
  <div class="row">
    <div class="col-4 mx-auto text-center">
      <h2>{{err}}. Please Enter a new user name.</h2>
    </div>
  </div>
{{/if}}
